body {
  font-family: 'Open Sans';
  color: #55555d;
}
header {
  background-color: #15345c;
  color: #fff;
}
header ul li {
  float: left;
}
header span {
  line-height: 14px;
  margin-top: 20px;
}
header .logo {
  margin: 16px 0px 12px 20px;
}
header .languageSelector {
  float: left;
  margin-right: 44px;
}
header .languageSelector li {
  font-size: 14px;
  margin-left: 10px;
  padding-top: 16px;
}
header .languageSelector li.active {
  color: #1eb7cb;
  border-top: 2px solid #1eb7cb;
}
header .languageSelector li:first-of-type {
  font-size: 12px;
  text-transform: uppercase;
}
header .languageSelector li:nth-of-type(2):after {
  content: ".";
  color: #fff;
  margin-left: 8px;
  position: relative;
  bottom: 3px;
}
header .logoUni {
  margin: 16px 10px 0 20px;
}
header .menu {
  border-top: 1px solid #2d496d;
}
header .menu ul li {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 56px;
  margin-left: 30px;
  font-weight: lighter;
}
header .menu ul li.current_page_item {
  font-weight: normal;
  color: #1eb7cb;
  border-bottom: 2px solid #1eb7cb;
}
section {
  min-height: calc(100vh - 146px - 56px);
}
.author {
  font-size: 13px;
  color: #3cb78e;
}
article .img {
  width: 100%;
  background-size: cover;
  background-position: center;
}
article h2 {
  color: #204778;
}
.tags a {
  border: 1px solid #3cb78e;
  border-radius: 26px;
  color: #3cb78e;
  font-size: 13px;
  padding: 12px 20px 12px 20px;
  display: inline-block;
  margin-right: 10px;
}
#home .tp-rightarrow.default {
  background: url(http://localhost/gis-coast/wp-content/themes/gis_and_coast/css/../images/GaC_arrow_next-xl.svg) no-repeat 0 0;
  height: 55px;
}
#home .tp-leftarrow.default {
  background: url(http://localhost/gis-coast/wp-content/themes/gis_and_coast/css/../images/GaC_arrow_previous-xl.svg) no-repeat 0 0;
  height: 55px;
}
#home .init {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 45px;
}
#home .init h1 {
  font-weight: lighter;
  font-size: 32px;
  line-height: 28px;
  color: #204778;
}
#home .init p {
  padding-top: 36px;
  font-size: 24px;
  line-height: 28px;
  color: #0099cc;
}
#home .news {
  background-color: #f6f6f6;
  border-top: 1px solid #d2f1f5;
  padding-bottom: 100px;
}
#home .news h3 {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 36px;
  text-transform: uppercase;
  color: #204778;
}
#home .news .articleList {
  padding-top: 46px;
}
#home .news .articleList article .img {
  height: 144px;
  border: 1px solid #cfcfd1;
}
#home .news .articleList article h2 {
  font-size: 24px;
  line-height: 26px;
  padding-top: 14px;
}
#home .news .articleList article p {
  font-size: 16px;
  line-height: 18px;
  padding-top: 14px;
}
#home .news .articleList article .author {
  padding-top: 20px;
}
#home .news .articleList article span {
  font-size: 13px;
  display: block;
}
#home .news .moreNews {
  text-align: center;
  padding-top: 70px;
}
#home .news .moreNews a {
  font-size: 18px;
  color: #3cb78e;
  border: 1px solid #3cb78e;
  padding: 12px 20px 12px 20px;
  border-radius: 26px;
  font-weight: lighter;
}
#news .border {
  border-right: 1px solid #eeeeee;
  padding-right: 140px;
}
#news h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #808086;
  padding-bottom: 18px;
}
#news article {
  border-bottom: 1px solid #d2f1f5;
  padding-top: 40px;
  padding-bottom: 20px;
}
#news article:first-of-type {
  padding-top: 66px;
}
#news article:last-of-type {
  margin-bottom: 185px;
}
#news article .img {
  height: 220px;
  margin-bottom: 20px;
}
#news article h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  padding-top: 3px;
}
#news article .time {
  font-size: 13px;
}
#news article .time:before {
  content: ".";
  position: relative;
  bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
}
#news article p {
  font-size: 20px;
  line-height: 24px;
  font-weight: lighter;
  padding-top: 10px;
}
#news article a {
  font-size: 16px;
  font-weight: lighter;
  color: #3cb78e;
  padding-top: 30px;
  display: block;
}
#news .tags {
  padding-left: 6px;
}
#news .tags h3 {
  padding-top: 44px;
}
#news .tags a {
  margin-bottom: 10px;
}
#news .authors {
  padding-left: 6px;
  padding-top: 60px;
}
#news .authors ul li {
  font-size: 13px;
  line-height: 18px;
  color: #3cb78e;
}
#post .authorInfo {
  padding-top: 56px;
  padding-bottom: 10px;
}
#post .authorInfo img {
  border-radius: 100%;
  position: relative;
  top: 10px;
  margin-right: 10px;
}
#post .authorInfo .time {
  font-size: 13px;
}
#post .authorInfo .time:before {
  content: ".";
  position: relative;
  bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
}
#post h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: lighter;
  color: #204778;
  padding-bottom: 30px;
}
#post h3 {
  font-weight: lighter;
  font-size: 24px;
  line-height: 28px;
  color: #0099cc;
  padding-bottom: 30px;
}
#post .tags {
  border-bottom: 1px solid #d2f1f5;
  padding-bottom: 18px;
}
#post .tags span {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  float: left;
  padding-top: 13px;
  margin-right: 20px;
}
#post .content {
  padding-bottom: 80px;
  border-bottom: 1px solid #d2f1f5;
}
#post .content p {
  padding-top: 40px;
  color: #27272e;
  font-size: 20px;
  line-height: 28px;
  padding-left: 80px;
  padding-right: 80px;
}
#post .content .wp-caption {
  padding-top: 50px;
  margin: auto;
}
#post .content .wp-caption p {
  padding-top: 0;
  font-size: 13px;
  color: #808086;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}
#post .share {
  padding-top: 18px;
  padding-bottom: 290px;
}
#post .share span {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  float: left;
  padding-top: 18px;
  margin-right: 10px;
}
.group h1 {
  padding-top: 56px;
  text-align: center;
}
.group h3 {
  text-align: center;
}
.group .tags {
  text-align: center;
  padding-bottom: 70px !important;
}
#investigation h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: lighter;
  color: #204778;
  text-align: center;
  border-bottom: 1px solid #d2f1f5;
  padding-top: 60px;
  padding-bottom: 40px;
}
#investigation dl {
  counter-reset: my-badass-counter;
}
#investigation dl dt {
  margin-top: 40px;
  padding-bottom: 38px;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #0099cc;
}
#investigation dl dt:before {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #0099cc;
  margin-right: 10px;
  content: counter(my-badass-counter) ".";
  counter-increment: my-badass-counter;
}
#investigation dl dd {
  font-size: 20px;
  line-height: 28px;
  color: #27272e;
  padding-left: 70px;
  position: relative;
}
#investigation dl dd:before {
  content: "1";
  font-size: 217px;
  font-weight: bold;
  color: #d2f1f5;
  position: absolute;
  top: 0px;
  z-index: -1;
  padding-top: 63px;
  left: 0;
}
footer {
  font-size: 13px;
  color: #fff;
  background-color: #15345c;
  line-height: 56px;
}
footer a {
  border-right: 2px solid #58667f;
  padding-right: 10px;
  padding-left: 6px;
}
footer a:last-of-type {
  border: none;
}
footer a:last-of-type:after {
  content: url("http://localhost/gis-coast/wp-content/themes/gis_and_coast/css/../images/CaG_logo_geographica.svg");
  position: relative;
  top: 8px;
  margin-left: 6px;
}
footer a span {
  color: #ccccce;
}
